<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nem payment</title>
</head>
<body>
  <h1>Payment Test</h1>
  <a href="/">reload</a>
  <div id="nem-payment" amount="<%= @amount %>" address="<%= @receive_address %>" callback="callback" <% if @testnet then %>test="true" <% end %>data="option datasets"></div>

  <a class="twitter-timeline" data-width="300" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/nem_payment">Tweets by nem_payment</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <p><a href="http://twitter.com/him0net">@him0net</a></p>
  <script src="scripts/nem-payment.js"></script>
</body>
</html>
